<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Zotero Gallery</title>
    <style>
.template {
    display: none;
}
    </style>
</head>
<body>

<div id="main" class="flex">
    <ul id="pub-list" class="w-[80%] grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-6">
    </ul>

    <div id="control-panel" class="fixed top-0 right-0 w-[20%] h-full pl-1 bg-gray-300">
        <h2>Filter by tag...</h2>
        <button onclick="selectAllTags(true)" class="bg-gray-100">Select All</button>
        <button onclick="selectAllTags(false)" class="bg-gray-100">Deselect All</button>
        <ul id="tag-list" class="flex flex-col">
        </ul>
    </div>
</div>

<!-- TEMPLATES -->
<div class="template" id="pub-card">
    <li class="relative m-1 py-1 px-2 rounded-lg bg-gray-100">
        <p class="my-1 text-left text-clip overflow-hidden text-sm text-gray-900" title="__pubName__">__pubName__</p>
        <a href="__fileLink__">
            <img class="w-full aspect-video object-cover" src="__image__" alt="">
        </a>
        <div class="__hideArrows__ absolute bottom-0 w-full flex justify-between">
            <button onclick="setImageIndex('__pubName__', false)" class="opacity-10 hover:opacity-100 mx-1 px-1 text-center rounded-md bg-blue-200">&lt;</button>
            <button onclick="setImageIndex('__pubName__', true) " class="opacity-10 hover:opacity-100 mx-1 px-1 text-center rounded-md bg-blue-200">&gt;</button>
        </div>
    </li>
</div>

<div class="template" id="tag-checkbox">
    <label for="tag-__tagName__" class="text-sm">
        <input type="checkbox" name="tag-__tagName__" id="tag-__tagName__">
        __tagName__
    </label>
</div>

<script>
    var publications;
    var tagFilter;

    function setImageIndex(publicationKey, increase) {
        let inc = increase ? 1 : 0;
        fetch(`/api/incrementImageIndex/${publicationKey}/${inc}`, {
            method: 'POST',
        })
            // .then(_ => window.location.reload(false));
            .then(_ => getPublications())
            .then(_ => updateGallery());
    }

    // Instantiate a template replacing all __variables__ in the template...
    function instantiateTemplate(template, replaceVars) {
        const clone = template.cloneNode(true);
        for (let variable in replaceVars) {
            clone.innerHTML = clone.innerHTML.replaceAll('__' + variable + '__', replaceVars[variable]);
        }
        return clone.childNodes[1];
    }

    function selectAllTags(select) {
        for (const tag in tagFilter) {
            tagFilter[tag] = select;
        }
        updateTagList();
        updateGallery();
    }

    function updateGallery() {
        let selectedTags = Object.keys(tagFilter).filter(k => tagFilter[k]);
        console.log(selectedTags);
        const pubListDom = document.getElementById('pub-list');
        const pubCardTemplate = document.querySelector('.template#pub-card');
        pubListDom.innerHTML = '';
        for (const pubName in publications) {
            let pubData = publications[pubName];
            // Hide arrows if preview image index < 0 (has been packed)
            let imgIndex = pubData['previewImageIndex'] >= 0 ? pubData['previewImageIndex'] : 0;
            let instance = instantiateTemplate(pubCardTemplate, {
                'pubName': pubName,
                'image': pubData['images'][imgIndex],
                'fileLink': '/api/getAttachment/' + pubData['fileLink'],
                'hideArrows': pubData['previewImageIndex'] < 0 ? 'hidden' : '',
            });

            let display = false;
            for (const tag of selectedTags) {
                if (pubData['tags'].indexOf(tag) >= 0) {
                    display = true;
                }
            }
            if (display) {
                pubListDom.append(instance);
            }
        }
    }

    function updateTagList() {
        // set up interactive tag checkboxes
        let allTags = new Set();
        for (const tagList of Object.values(publications).map(p => p.tags)) {
            for (const tag of tagList) {
                allTags.add(tag);
            }
        }
        const tagListDom = document.getElementById('tag-list');
        const tagTemplate = document.querySelector('.template#tag-checkbox');
        tagListDom.innerHTML = '';

        if (!tagFilter) {
            tagFilter = {};
        }

        let sortedTags = Array.from(allTags);
        sortedTags.sort();
        for (const tag of sortedTags) {
            if (typeof(tagFilter[tag]) === 'undefined')
                tagFilter[tag] = true;

            let instance = instantiateTemplate(tagTemplate, {
                'tagName': tag
            });
            const checkbox = instance.getElementsByTagName('input')[0]
            checkbox.checked = tagFilter[tag];
            checkbox.addEventListener('click', (evt) => {
                let checked = evt.target.checked;
                tagFilter[tag] = checked;
                updateGallery();
            });
            tagListDom.appendChild(instance);
        }
    }

    async function getPublications() {
        publications = await fetch('/api/getPublications')
            .then(resp => resp.text())
            .then(t => JSON.parse(t))
    }

    async function index() {
        await getPublications();
        updateTagList();
        updateGallery();
    }

    window.onload = index;
</script>
</body>
</html>